<!DOCTYPE html>
<html>
<head>
<title>Indep Work</title>
</head>
<body>

<h1>Independent work</h1>
<h2>Havrylchuk Nadiia</h2>
<img src="https://www.plant.ca/wp-content/uploads/2018/09/test-img-300x194.png" width="300" height="194" alt="lorem">
</body>
</html>
